{{ define "content" }}

{{ $pages := .Site.RegularPages }}
{{ $pages := where $pages "Type" "projects" }}

<div>
    <header>
        <h1> {{ .Title }} </h1>
        <p>{{- .Content -}}</p>
    </header>

    <div>
        <hr>
        {{ range $pages }}
        <article>
            <div class="row">
                <div class="column column-60">
                    <h2>
                        <a href="{{ .RelPermalink }}">
                            {{ .Title }}
                        </a>
                    </h2>
                </div>
                <div class="column column-40 py-3">
                    <span class="float-right">
                        {{ range .Params.tags }}
                            <code>{{.}}</code>
                        {{ end }}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="column"> {{ .Summary }} </div>
            </div>
        </article>
        <hr>
        {{ end }}
    </div>
    {{- template "_internal/pagination.html" . -}}
</div>
{{ end }}
