<div class="work-entry">
    <div class="row">
        <div class="column column-70">
            <h4 id="{{ .File.UniqueID }}"> {{ .Params.title }} </h4>
            <div>
                <i>{{ .Params.position }}</i>
            </div>
        </div>

        <div class="column column-30 clearfix">
            <span class="float-right">{{ .Params.location }}</span>
            <span class="clearfix"></span>
            <span class="float-right">
                <i>{{ .Params.date_start }}</i>
                <span>-</span>
                <i>{{ default (i18n "ongoing") .Params.date_end }}</i>
            </span>
        </div>
    </div>

    <div class="details">
        <div class="mt-3">
           {{- .Content | markdownify -}}
        </div>
        <div class="mt-4 ml-neg-1">
            {{ range .Params.tags }}
                <code>{{ . }}</code>
            {{ end }}
        </div>
    </div>
    <hr/>
</div>
