{{ define "content" }}
<div class="my-3">
    <h2> About Me </h2>

    <div class="my-3">
        {{ .Content | markdownify }}
    </div>
</div>

<div class="my-3">
    <h3> Skills </h3>

    <div>
       {{ partial "skills-table.html" (dict "levels" $.Site.Data.skills.technologies.levels "skills" $.Site.Data.skills.technologies.entries "tags" $.Site.Taxonomies.tags) }}
    </div>
</div>

<div class="my-3">
    <h3> Work Experience </h3>

    <div>
        {{ range $.Site.Data.work }}
           {{ partial "work.html" . }}
        {{ end }}
    </div>
</div>
{{ end }}
