{{ define "content" }}

{{/* Merge translated pages so we fall back to English for /about */}}
{{ $pages := .Site.RegularPages }}
{{ range .Site.Home.Translations }}
    {{ $pages = $pages | lang.Merge .Site.RegularPages }}
{{ end }}

{{/* Merge tags so we fall back to English for /about */}}
{{ $tags := newScratch }}
{{ range $tag, $value := .Site.Taxonomies.tags }}
    {{ $tags.Set $tag $value.Pages }}
{{ end }}

{{ range .Site.Home.Translations }}
    {{ range $tag, $value := .Site.Taxonomies.tags }}
        {{ $pages := $value.Pages | lang.Merge ($tags.Get $tag) }}
        {{ $tags.Set $tag $pages }}
    {{ end }}
{{ end }}


<div class="my-3">
    <h2> {{ .Title }} </h2>

    <div class="my-3">
        {{ .Content | markdownify }}
    </div>
</div>

<div class="my-3">
    <h3> {{ i18n "skills_header" }} </h3>

    <div>
       {{ partial "skills-table.html" (dict "skills" $.Site.Data.skills.software "tags" $tags) }}
    </div>
</div>

<div class="my-3">
    <h3> {{ i18n "work_experience_header" }} </h3>

    <div>
        {{ range $.Site.Data.work }}
           {{ partial "work.html" . }}
        {{ end }}
    </div>
</div>


<div class="my-3">
    <h3> {{ i18n "education_header" }} </h3>

    <div>
        {{ range where $pages "Type" "education" }}
            {{ .Render "single" }}
        {{ end }}
    </div>
</div>


<div class="my-3">
    <h3> {{ i18n "natural_languages_header" }} </h3>

    <div class="my-3">
        {{ range $.Site.Data.skills.natural_languages }}
           {{ partial "natural-languages.html" . }}
        {{ end }}
    </div>
</div>
{{ end }}
