<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="/" class="nav-link">
                Matt Snider
            </a>
        </li>
    </ul>

    <ul class="nav-list">
        {{ with .Site.GetPage "/about" }}
        <li class="nav-item">
            <a href="{{ .Permalink }}" class="nav-link">
                {{ .Site.Params.navigation.about }}
            </a>
        </li>
        {{ end }}

        {{/*
        <li class="nav-item">
            <a href="/blog" class="nav-link">
                Blog
            </a>
        </li>
        */}}

        {{ with .Site.GetPage "/projects" }}
        <li class="nav-item">
            <a href="{{ .Permalink }}" class="nav-link">
                {{ .Site.Params.navigation.projects }}
            </a>
        </li>
        {{ end }}

        <li class="nav-item">
            <ul class="nav-list languages">
                <li class="lang">
                    <a class="active">{{ .Language.Lang }}</a>
                </li>

                {{ range .Translations }}
                <li class="lang">
                    <a href="{{ .Permalink }}">{{ .Language.Lang }}</a>
                </li>
                {{ end }}
            </ul>
        </li>
    </ul>

</nav>

