<div>
    <table class="skills-table">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Level</th>
            <th scope="col">Projects</th>
        </tr>
        {{ range sort $.skills.entries "level" "desc" }}
            {{ $tag   := lower .name }}
            {{ $level := string .level }}

            <tr>
                <td> {{ .name }} </td>
                <td>
                    <div class="level"> {{ i18n (index $.skills.levels $level) }} </div>

                    {{ with .note }}
                    <div class="note"> ({{ i18n . }}) </div>
                    {{ end }}
                </td>
                <td>
                    {{ range ($.tags.Get $tag).ByWeight }}
                    <div>
                        <a href="{{ .RelPermalink }}">{{- .Title -}}</a>
                    </div>
                    {{ end }}
                </td>
            </tr>
        {{ end }}
    </table>
</div>
