<div>
    <table class="skills-table">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Projects</th>
            <th scope="col">Work Experience</th>
        </tr>
        {{ range $.skills.entries }}
            {{ $tag   := lower .name }}
            {{ $pages := $.tags.Get $tag }}
            <tr>
                <td> {{ .name }} </td>
                <td>
                    {{ range $pages.ByWeight }}
                        {{ if eq .Dir "projects/" }}
                        <div>
                            <a href="{{ .RelPermalink }}">{{- .Title -}}</a>
                        </div>
                        {{ end }}
                    {{ end }}
                </td>
                <td>
                    {{ range ($pages.ByWeight.ByParam "date_end").Reverse }}
                        {{ if eq .Dir "work/" }}
                            <div>
                                <a href="./#{{ .UniqueID }}">
                                    {{- .Title -}}
                                </a>
                            </div>
                        {{ end }}
                    {{ end }}
                </td>
            </tr>
        {{ end }}
    </table>
</div>
