<div>
    <div class="row">
        <div class="column column-75">
            <b> {{ .position }}, {{ .company }}</b>
            <span>-</span>
            <i>{{ .location }}</i>
        </div>

        <div class="column column-25 clearfix">
            <span class="float-right">
                <span>{{ .start }}</span>
                <span>-</span>
                <span>{{ default "ongoing" .end }}</span>
            </span>
        </div>
    </div>

    <div class="ml-4">
        <div>
           {{- .summary | markdownify -}}
        </div>
        <div class="mt-5">
            {{ range .technologies }}
                <code>{{ . }}</code>
            {{ end }}
        </div>
    </div>
    <hr/>
</div>
