{{ define "head" }}
<link rel="stylesheet" href="/css/resume.css">
{{ end }}

{{ define "content" }}
{{ $pages := .Site.RegularPages }}

<div class="resume">
    <div class="row summary">
        <div class="column column-25">
            <img class="face" src="/images/face.png" alt="my face">
        </div>
        <div class="column column-75">
            <h4 class="name"> {{ .Site.Params.full_name }} </h4>
            <h5 class="job-title"> {{ .Site.Params.job_title }}</h5>

            <div class="contact">
                {{ with .Site.Params.social.address }}
                <div>
                    <img src="/icons/map-pin.svg" class="icon">
                    <span> {{ . }} </span>
                </div>
                {{ end }}

                {{ with .Site.Params.social.email }}
                <a href="{{ . }}" class="social-link">
                    <img src="/icons/mail.svg" class="icon">
                    <span> {{ . }} </span>
                </a>
                {{ end }}

                {{ with .Site.Params.social.personal_url }}
                <a href="{{ . }}" class="social-link">
                    <img src="/icons/globe.svg" class="icon">
                    <span> {{ . }} </span>
                </a>
                {{ end }}

                {{ with .Site.Params.social.github_url }}
                <a href="{{ . }}" class="social-link">
                    <img src="/icons/github.svg" class="icon">
                    <span> {{ . }} </span>
                </a>
                {{ end }}

                {{ with .Site.Params.social.phone }}
                <div>
                    <img src="/icons/phone.svg" class="icon">
                    <span> {{ . }} </span>
                </div>
                {{ end }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="details">
            <div class="my-3">
                <h3> Work Experience </h3>

                <div>
                    {{ range (where ($pages.ByParam "date_end").Reverse "Type" "work") }}
                        {{ .Render "single" }}
                    {{ end }}
                </div>
            </div>

            <div class="my-3">
                <h3> Education </h3>

                <div>
                    {{ range where $pages "Type" "education" }}
                        {{ .Render "single" }}
                    {{ end }}
                </div>
            </div>

            {{ partial "languages.html" . }}
        </div>
    </div>
</div>
{{ end }}

